@page "/fetchdata"
@using BlazorApp.Services
@using BlazorApp.Data
@using BlazorApp.Models

@inject CustomerService Custom

<h1>Weather forecas@t</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ContactName</th>
                <th>Address</th>
                <th>Id</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.ContactName</td>
                    <td>@customer.Address</td>
                    <td>@customer.Id</td>
                    <td>@customer.City</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private WeatherForecast[] forecasts;
    private IEnumerable<Customer> Customers;
    protected override async Task OnInitializedAsync()
    {
        Customers = Custom.Get();
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
