@inherits LayoutComponentBase
@using Telerik.Blazor
@using Telerik.Blazor.Components

<TelerikRootComponent>

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @Body
    </div>

</TelerikRootComponent>
